:root{
	--primary-color: #0b1828;
	--secondary-color: #edf2fc;
}

.dark-theme{
	--primary-color: #fff;
	--secondary-color: blue;
}

body{
	overflow-x: hidden;
	background-color: var(--primary-color);
	min-width: 350px;
}

body a{
	text-decoration: none;
}


#icon{
	position: relative;
	top: 12px;
	height: 20px;
	cursor: pointer;
}



/* .play-button{
	position: relative;
	opacity: 0.5;
}


.play-button::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent #fff;
  } */

  
/* .mainnav .active{

	color: red!important;
} */

/* .mainnav .active::after{

	content: '';
	background-color: red;
	height:2px;
	display: block;
	margin-top: 5px;
} */


.hero-nav .active{

	color: red!important;
	background-color: transparent!important;
}

.hero-nav .active::after{

	content: '';
	background-color: red;
	height:2px;
	display: block;
	margin-top: 5px;
}

.hero-area{

	/* background-image: url('../images/14.jpg'); */
	min-height: 400px;
	background-position: 20% 30%;
	background-size: 100%;
}

.song-small:hover{

	border: solid thin grey;
	cursor: pointer;
	transform: translateY(-10px);
}

.song-small{
	background-color: var(--secondary-color);
	background: linear-gradient(90deg, rgba(0,0,4,1) 0%, rgba(24,49,82,1) 15%, rgba(25,51,83,1) 67%, rgba(0,212,255,0) 100%);
	transition: all 0.3s ease;
}

.song-small-img{
	width:50px;height:50px;object-fit: cover;
}

.song-category-title::after{
	content: '';
	background-color: #2cc8e5;
	background: linear-gradient(90deg, rgba(24,49,82,0) 0%, rgba(44,200,229,1) 44%, rgba(0,212,255,0) 100%);
	height:1px;
	display: block;
	margin-top: 15px;
	width: 50%;
}

.song-category-title{
	color: #2cc8e5;

}

.big-song-hover i{

	left:50%;
	top:50%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.big-song-hover:hover{
	opacity: 1;
}

.big-song-hover{

	position: absolute;
	background-color: #000000bb;
	left: 0px;
	top:0px;
	width:200px;
	height: 200px;
	opacity: 0;
	transition: all .8s ease;
}

.big-song-img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

/* .song-play{
	width: 100%;
	position: relative;
	top: 140px;
} */
@media (max-width: 602px)
{
	.nav-spacer{
		height: 50px;
	}

}


@media (max-width: 435px)
{
	.nav-spacer{
		height: 80px;
	}
}

/* #myAudio audio {
  max-width: 100%;
  height: auto;
}

audio::-webkit-media-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}


audio::-webkit-media-controls-play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}


audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider {
  display: flex;
  align-items: center;
}

audio::-webkit-media-controls-timeline {
  flex-grow: 1;
  height: 10px;
}

audio::-webkit-media-controls-timeline-contents {
  height: 10px;
}

audio::-webkit-media-controls-volume-slider {
  width: 100px;
  margin-left: 10px;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider-container {
  display: flex;
  align-items: center;
}

audio::-webkit-media-controls-mute-button {
  width: 30px;
  height: 30px;
}

audio::-webkit-media-controls-volume-slider-container {
  flex-grow: 1;
} */
